<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static 'CSS/dashboard.css' %}" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="card-container">
        <div class="card">
            <div class="imgBx">
                <img src="https://assets.codepen.io/4164355/shoes.png">
            </div>
            <div class="contentBx">
                <h2>Nike Shoes</h2>
                <a href="#">Get Tickets</a>
            </div>
        </div>
    </div>
</body>
</html>