<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href= "{% static 'CSS/tickets_styles.css' %}">
    <title>Basketball Tickets</title>
</head>
<body>
    <div class = "navbar">
        <img class = "logo"  src="{% static 'Images/logo.png' %}" alt="">
        <nav>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a id = "about" href="#">ABOUT</a></li>
            </ul>
        </nav>
    </div>
    <div class = "cover_image"></div>
    <h1>Boston Celtic Tickets</h1>
    <div class = "container">
        <div class = "row">
            <div class = "col-md-4">
                    <a href="#" class="data-card">
                      <h3>Los Angeles Lakers vs. Brooklyn Nets</h3>
                      <h4>From $110</h4>
                      <p> OCT 03, Staples Center - Los Angeles, CA</p>
                      <span class="link-text">
                        View All Providers
                        <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z" fill="#753BBD"/>
                  </svg>
                      </span>
                    </a>
            </div>
        </div>
    </div>
        
   

</body>
</html>